{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="mt-5 d-flex justify-content-start">
                    <a class="btn btn-link btn-sm text-muted" href="{{ path('articles_list') }}">
                        <span class="me-2"><i class="fa-solid fa-chevron-left"></i></span>{{ 'common.back' | trans }}
                    </a>
                </div>

                {% if not error and article.content is not same as(null) %}
                    <h1 class="h3 text-center text-primary mt-2 mb-3">{{ article.requestedTopic }}</h1>
                    <div class="card mb-5">
                        <div class="card-body">
                            {{ article.content | raw }}
                        </div>
                    </div>
                {% else %}
                    <p>{{ 'app_article_detail_page.error' | trans }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
