{% set locale = app.request.locale|slice(0, 2) %}
<!DOCTYPE html>
<html lang="{{ locale }}" data-symfony-ux-translator-locale="{{ locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ app_name }}{% endblock %}</title>
        <link rel="icon" href="https://www.centralesupelec.fr/sites/all/themes/cs_theme/favicon.ico" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script>
                window.locale = '{{ locale }}';
            </script>
        {% endblock %}
    </head>
    <body>
        <div id="body-wrapper">
            {% include '_navbar.html.twig' %}
            <div id="main">
                {% include '_flash.html.twig' %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
